* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

h2 {
    color: #DA5F17;
    font-size: 20px;
}

div.logo {
    padding: 0.5%;
    max-width: 13%;
    display: inline-flex;
}

nav {
    display: inline-flex;
    text-decoration: none;
    margin-left: 33%;
}

nav.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 30px;

}

div.quemsomosnos {}

div.vantagens {}

div.contatos {}

section.cabecalho {
    display: flex;
}

div.texto1 {
    margin: 3%;
    font-size: 30px;
}

div.texto1 a {
    padding: 2%;
    margin-left: 25%;
    text-decoration: none;
    background-color: #DA5F17;
    border-radius: 6%;
    color: white;
    font-size: large;
}

div.img1 {
    margin-top: 3%;
    display: inline-flex;
    max-width: 60%;
}

section.vantagem {
    max-width: 100%;
    display: flex;
    margin-top: 3%;
}

div.img2 {
    display: inline-flex;
    max-height: 45%;
}

div.titulo1 h2 {
    display: inline-flex;
    margin-top: 18%;
    margin-left: 20%;
    max-width: 55%;
    max-height: 15%;
    text-align: left;
    font-size: 30px;
}

div.titulo1 p {
    text-align: left;
    margin-top: 10%;
    margin-left: 20%;
    max-width: 65%;
    display: inline-flex;
    font-size: 20px;
}

section.oque {
    max-width: 100%;
    background-color: aqua;
    display: flex;
    margin-top: 5%;
}

div.grupo1 {
    max-width: 27.5%;
    display: inline-block;
    background-color: bisque;
}

div.titulo2 h2 {
    margin-left: 25%;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    background-color: blueviolet;
}

div.titulo2 p {
    margin-top: 10%;
    margin-left: 13%;
    font-size: 21px;
    max-width: 80%;
    display: inline-block;
    text-align: center;
    background-color: yellowgreen;
}

div.titulo2 a {
    text-decoration: none;
    background-color: #DA5F17;
    border-radius: 6%;
    color: white;
    font-size: 20px;

}

div.texto3 {
    max-width: 15%;
    display: inline-block;
}

div.grupo2 {
    max-width: 27.5%;
    display: inline-block;
    background-color: violet;
}

div.botao2 a {
    display: inline-block;
    text-decoration: none;
    border: #DA5F17;
    border-radius: 50%;
}

section.descricao {
    max-width: 100%;
    display: inline-block;
    background-color: #DA5F17;
}

div.desc {
    display: inline-block;
    width: 15%;
    margin: 5% 4% 5% 5%;
    text-align: center;
    border-radius: 10%;
    background-color: white;
    border-color: #DA5F17;
    border-style: outset;
    box-shadow: black;
}

div.desc img {
    margin-top: 10%;
}

section.comentarios {
    display: inline-block
}

div.img3 {
    display: inline-block
}

.comentario {
    display: inline-block;
    max-width: 25%;
    text-align: justify;
    border: solid #DA5F17;
    text-shadow: 20px;
    margin-bottom: 1%;
    margin-left: 13%;
}

footer {
    text-align: center;
}